@font-face {
  font-family: "Wigrum - Regular";
  src: url("../fonts/wigrum.otf");
}

@font-face {
  font-family: "Wigrum - Light";
  src: url("../fonts/wigrum-light.otf");
}

@font-face {
  font-family: "Wigrum - Medium";
  src: url("../fonts/wigrum-medium.otf");
}

@font-face {
  font-family: "Wigrum - Bold";
  src: url("../fonts/wigrum-bold.otf");
}

@font-face {
  font-family: "Wigrum - Black";
  src: url("../fonts/wigrum-black.otf");
}